{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="clients-content">
		<div class="g-grid">
			<div class="g-block">
				<div class="g-content">
					{% if particle.image %}<img src="{{ url(particle.image) }}" class="logo-large" alt="{{ particle.headline|e }}" />{% endif %}
					{% if particle.headline %}<h3>{{ particle.headline|raw }}</h3>{% endif %}
					{% if particle.description %}<div class="client-description">{{ particle.description|raw }}</div>{% endif %}
					{% if particle.linktext %}<p><a href="{{ particle.link|e }}" class="button">{{ particle.linktext|e }}</a></p>{% endif %}
				</div>
			</div>
		</div>
		<div class="g-grid clients">
			{% for client in particle.clients %}
				<div {% if client.id %}id="{{ client.id|e }}"{% endif %}
					 class="g-block size-25 {{ client.class }} {{ client.variations }}">
					{% if client.image %}<img src="{{ url(client.image) }}" class="" alt="{{ client.headline|e }}" />{% endif %}	
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}