{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="homecomponent">
		{% if particle.image %}<a href="{{ particle.link|e }}" class=""> <img src="{{ url(particle.image) }}" class="logo-large" alt="{{ particle.headline|e }}" /></a>{% endif %}
		<div class="heading">
			{% if particle.headline %}<a href="{{ particle.link|e }}" class=""><h2 class="center">{{ particle.headline|raw }}</h2></a>{% endif %}
		</div>
		<div class="text">
			{% if particle.description %}<div class="sample-description">{{ particle.description|raw }}</div>{% endif %}
			{% if particle.linktext %}<p><a href="{{ particle.link|e }}" class="">{{ particle.linktext|e }}   <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
</a></p>{% endif %}
		</div>
	</div>
{% endblock %}