/** Base Visforms css for all Visforms views **/
/*Mandatory Fields*/
.vis_mandatory {
	color: #FF0000;
	padding: 0px;
	font-size: 0.83em;
	font-weight: bold;
}

.visform:not(.bt4mcindividual) p.errorcontainer {
	padding-top: 5px;
	margin-top: 15px;
	margin-bottom: -10px;
}


.visform:not(.bt4mcindividual) label.error {
	font-size: 10px;
	color: #fff;
	padding: 10px;
	background-color: gray;
	border-radius: 5px;
	display: inline-block !important;
    max-width: 60%;
	margin: 0 0 0 30%;
}

.visform:not(.bt4mcindividual) p.errorcontainer:after {

	width: 0;
	height: 0;
	display:block;
	margin-left: 35%;
	border-top: 12px solid gray;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	content: "";
    margin-bottom: 12px;
}

.visform.mcindividual label.error {
    max-width: 90%;
	margin: 0 0 0 0;
}

.visform.mcindividual p.errorcontainer:after {
    margin-left: 20px;
}

.mcindividual .row-fluid {
    position: relative;
    
}

.mcindividual div[class^='fc-tbxfield'] {
    z-index: 1000;
}
#vispoweredby {
	text-align:center !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

#vispoweredby a {color:#666666;}

.visCustomText {
    margin-top: 10px;
    margin-bottom: 10px;
}

.visCSSbot10 {
    margin-bottom: 10px;
}
.visCSStop10 {
    margin-top: 10px;
}

.visCSStop7 {
	padding-top: 7px;
}

.mcindividual .input-group {
	margin-bottom: 10px;
}

.visform [class^="fieldset-"] {
	display: none;
}

.visform [class^="fieldset-"].active {
	display: block;
}

.visprogess {
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #f5f5f5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px ;
	border-radius: 4px ;
	*zoom: 1;
}

.visprogess:before,
.visprogess:after {
	display: table;
	line-height: 0;
	content: "";
}

.visprogess:after {
	clear: both;
}

.stepCont {
	display: inline-block;
	text-align: center;
}

.visprogess .badge {
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999999;
}

.visprogess .badge {
	padding-right: 9px;
	padding-left: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

.visprogess .badge:empty {
	display: none;
}

.visprogess a.badge:hover,
.visprogess a.badge:focus {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}

.visprogess .badge-important {
	background-color: #b94a48;
}

.visprogess .badge-success {
	background-color: #468847;
}

/*Accordions*/
.collapse {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.35s ease;
	-moz-transition: height 0.35s ease;
	-o-transition: height 0.35s ease;
	transition: height 0.35s ease;
}

.collapse.in {
	height: auto;
}

.accordion {
	margin-bottom: 20px;
}

.accordion-group {
	margin-bottom: 2px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.accordion-heading {
	border-bottom: 0;
}

.accordion-heading .accordion-toggle {
	display: block;
	padding: 8px 15px;
}

.accordion-toggle {
	cursor: pointer;
}

.accordion-inner {
	padding: 9px 15px;
	border-top: 1px solid #e5e5e5;
}

/*Fonts*/
@font-face {
	font-family: 'visIcon';
	src:url('../fonts/visIcon.eot?-7x6gp7');
	src:url('../fonts/visIcon.eot?#iefix-7x6gp7') format('embedded-opentype'),
		url('../fonts/visIcon.woff?-7x6gp7') format('woff'),
		url('../fonts/visIcon.ttf?-7x6gp7') format('truetype'),
		url('../fonts/visIcon.svg?-7x6gp7#visIcon') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="visicon-"], [class*=" visicon-"] {
	font-family: 'visIcon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="visicon-"],
[class*=" visicon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	*margin-right: .3em;
	line-height: 14px;
}
[class^="visicon-"]:before,
[class*=" visicon-"]:before {
	font-family: 'visIcon';
	font-style: normal;
	speak: none;
}
[class^="visicon-"].disabled,
[class*=" visicon-"].disabled {
	font-weight: normal;
}

.visicon-arrow-up-3:before {
	content: "\e600";
}
.visicon-arrow-down-3:before {
	content: "\e601";
}
.visicon-edit:before {
	content: "\e602";
}
.visicon-calendar:before {
	content: "\e603";
}
.visicon-download:before {
	content: "\e604";
}
.visicon-eye:before {
	content: "\e9ce";
}