// Modules & Particles

%homecomponent {
    position: relative;
    .text {
        background: #fff;
        padding: 2rem;
        width: 350px;
        position: absolute;
    }
}
#g-main {
    .home-content {
        @extend %homecomponent;
        .text {
            left: 12%;
            top: 15%;
        }
    }
}
#g-subfeature {
    .homecomponent {
        padding: 0 1rem;
       .heading {
           background: #fff;
           margin: -3rem auto 0;
           padding: 1rem;
           position: relative;
           width: 80%;
       }
       .text {
           width: 80%;
           text-align: center;
           margin: 0 auto;
           a {
               font-weight: bold;
           }
       }
    }
}

.venue {
    position: relative;
    h1 {
        position: absolute;
        top: 40%;
        left: 30%;
        font-size: 5rem;
        color: #fff;
        text-shadow: 1px 1px #666;
        width: 40%;
        text-align: center
    }
}

// Clients
.clients {
    align-items: center;
}

// Branding
.g-branding {
    .g-content {
        padding: 0 0 1rem;
        margin: 0;
    }
}


/*** Photo Gallery ***/ 

ul.sigProClassic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    li.sigProThumb {
        span.sigProLinkWrapper {
            padding: 1px;
        }
    }
}


/*** Embeded map***/
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

 .venue {
    #map {
        height: 300px;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
  }
}


/*** Forms ***/ 
.visBtnCon {
    margin-top: 1rem;
    .btn {
        padding: 0.5rem 1rem;
    }
}
.visCSSright20 {
    margin-right: 2.1rem;
}