/****** Colors ******/
$blue: #405C87; //rgb 64,92,135

/****** Typography ******/
blockquote {
    padding: 0.5rem;
    font-style: italic;
    border-left: none;
    p {
        margin-bottom: 0;
        font-weight: 300;
        font-size: 1.6rem;
    }
}


/****** Extends ******/ 
%itemView {    
    margin-top: -10rem;
    background: #fff;
    padding: 1rem 2rem;
}