/******** Custom scss file ********/
@import "dependencies";
@import "variables";
@import "k2";
@import 'modules';
@import "slideshow";




/****** Header ******/
// #g-header {

// }


/****** Navigation ******/
#g-navigation {
    .gantry-logo {
        img {
            width: 400px;
        }
    }
    .g-container {
        .g-content {
            margin: 0;
            padding: 0.5rem;
            .g-main-nav {
                margin: 0.5rem 0 0 ;
            }
        }
        
    }
}

#g-subnavigation {
    .g-container {
        width: 100%;
        .g-content {
            padding: 0;
            margin: 0;
        }
    }
}

/****** Showcase ******/
#g-showcase {
    padding: 0;
    .g-container {
        width: 100%;
        .g-content {
            padding: 0;
            margin: 0;
        }
    }
}

/****** Feature ******/
#g-feature {
    padding: 1rem 0;
    .home-profile {
        margin-top: -10rem;
        z-index: 100;
        background: #fff;
        .g-content {
            padding: 0 1rem 1rem;
            margin: 0;
        }
    }
}

/****** Main ******/
.home #g-main {
    .g-container {
        width: 100%;
        .g-content {
            padding: 0;
            margin: 0;
        }
    }
}

.venues #g-main {
    padding: 0;
}

/****** Subfeature ******/
.home #g-subfeature {
    .g-container {
        // width: 100%;
        .g-content {
            padding: 0;
            margin: 0;
        }
    }
}

/****** Over Footer ******/ 
#g-overfooter {
    .g-container {
        width: 100%;
    }
}

/****** Footer ******/
#g-footer {
    .g-content {
        padding: 0.5rem;
        margin: 0;
    }
}


/****** Contact ******/




/****** Media Queries ******/


// Typical values are the default breakpoints set in Gantry 5
// but these values are user definable in style settings
// so that is why the code below uses mixins to get the actual 
// values from Gantry 5 template.

// commonly used media queries

//  typically min 75rem 
@include breakpoint(large-desktop-range) {

}
// typically range 60rem to 74.938rem 
@include breakpoint(desktop-range) {

}

// typically 48rem to 59.938rem
@include breakpoint(tablet-range) {

}
// typically 30rem to 47.938rem
@include breakpoint(large-mobile-range) {

    #g-main .home-content {
        .text {
            position: relative;
            margin-top: -2rem;
        }
    }

    .homecomponent {
        margin-bottom: 3rem;
    }

    .clients > * {
        img {
            margin: 2rem auto;
           display: block;
        }
    }

    %itemView {    
        margin-top: -3rem;
        background: #fff;
        padding: 1rem 2rem;
    }

}
// typically max 30rem
@include breakpoint(small-mobile-range) {
    #g-main .home-content {
        .text {
            position: relative;
            margin: 0 auto;
            display: block;
            left: unset;
            top: unset;
        }
    }
    .homecomponent {
        margin-bottom: 3rem;
    }

    .clients > * {
        img {
            margin: 2rem auto;
           display: block;
        }
    }

    %itemView {    
        margin-top: -3rem;
        background: #fff;
        padding: 1rem 2rem;
    }

    .venues div.itemExtraFields {
        margin-left: 0;
        margin-top: 1rem;
    }

         .venue {
            h1 {
                font-size: 2rem;
                left: 30%;
                top: 30%;
            }
        }

    
    /*** Photo Gallery ***/ 

    ul.sigProClassic {
        display: flex;
        flex-flow: column;
        align-items: center;
        li.sigProThumb {
            span.sigProLinkWrapper {
                padding: 1px;
            }
        }
    }

}

// Less commonly used media queries

// typically min 60rem
@include breakpoint(desktop-only) {

}
// typically min 48rem
@include breakpoint(no-mobile) {

}
// typically max 47.938 rem
@include breakpoint(mobile-only) {

}
// typically max 59.938rem
@include breakpoint(no-desktop) {

}

// Mobile Menu Breakpoint
@media only all and (max-width: $breakpoints-mobile-menu-breakpoint) { }

@import "nucleus/mixins/breakpoints"